body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #1e3c72, #2a5298);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.mainContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px solid gold;
  border-radius: 12px;
}

.converterContainer {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unitSelectorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.unitSelectorContainer label {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.unitSelectorContainer select {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #efbf04;
  color: white;
  background-color: #0047ab;
  font-size: 15px;
  padding: 8px;
  font-weight: bold;
}
.inputContainer,
.outputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 12px;
  padding: 16px;
  margin: 10px 0;
}

.inputContainer input,
.outputContainer input {
  width: 100%;
  aspect-ratio: 1 / 0.25;
  /* padding: 8px; */
  border: none;
  border-radius: 12px;
  background-color: #0047ab;
  color: white;
  font-size: 15px;
}

.inputContainer select,
.outputContainer select {
  width: 25%;
  aspect-ratio: 1 / 1;
  font-size: 15px;
  /* padding: 8px; */
  background-color: #0047ab;
  border-radius: 12px;
  border: none;
  color: white;
}

.swapButtonContainer {
  display: flex;
  justify-content: center;
  aspect-ratio: 1 / 1;
  width: 25%;
}
.swapButtonContainer button {
  background-color: #0047ab;
  background-image: url('/reverse_arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 50px;
}
.swapButtonContainer button:hover {
  background-color: darkblue;
}
